# Hidden files (.prettierrc.js, etc) are ignored by default by ESLint
# The following line will unignore them
!.*

# node_modules in subfolders are not ignored by default
node_modules/

# .yarn contains the yarn source code, we don't need to lint it
.yarn/

# Ignore the documentation for now, I haven't migrated it to ESM yet
docs/
