/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'norska/reset';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@import '_styles/fonts.css';
@import '_styles/highlight.css';
