.fixed.w-100p.top-0.z-9.h-8.bg-green-1.border-b-001.border-gray-4
  .container.mx-auto.h-100p.flex.items-center.px-1.md_px-2
    input.hidden.if(type="checkbox" id="menu_checkbox")

    //- Title
    .w-25p.flex.items-center.justify-center
      a.text-7(href=url.pathToRoot) 
        .green.bold.inline >
        .inline-block.ml-01 firost

    .flex.flex-grow
      //- Search
      .w-75p
        .relative.text-2.px-6
          button.py-02.pl-2.text-left.gray-6.bg-white.w-100p.border-001.border-gray-4.rounded-3.flex.items-center.lh-1.hover_bg-gray-1
            +svg_search.h-1.w-1.gray-6.fill-current()
            .ml-02 Search  
            .ml-01 the docs

      //- Menu
      .w-25p.flex.justify-end
        a.px-02.py-01.gray-5.hover_gray-7(href="https://github.com/pixelastic/firost")
          +svg_github.fill-current.w-4.h-4()




//- //- Hamburger menu
//- .flex.md_hidden
//-   label.fill-current.border.rounded.p-02.green-2.pointer(for="menu_checkbox")
//-     svg.h-3.w-3(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
//-       title Menu
//-       path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
