/**
 * Use the file as a template to define your own fonts
 **/
/* @font-face { */
/*   font-family: 'CustomFont'; */
/*   src: url('./fonts/CustomFont.otf') format('opentype'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/* @font-face { */
/*   font-family: 'CustomFont'; */
/*   src: url('./fonts/CustomFont-Bold.otf') format('opentype'); */
/*   font-weight: bold; */
/*   font-style: normal; */
/* } */
/* @font-face { */
/*   font-family: 'CustomFont'; */
/*   src: url('./fonts/CustomFont-Italic.otf') format('opentype'); */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */
/* @font-face { */
/*   font-family: 'CustomFont'; */
/*   src: url('./fonts/CustomFont-BoldItalic.otf') format('opentype'); */
/*   font-weight: bold; */
/*   font-style: italic; */
/* } */

/* .custom { */
/*   font-family: 'CustomFont', serif; */
/* } */

@import url('https://fonts.googleapis.com/css?family=Lato');
.lato {
  font-family: 'Lato', sans-serif;
}
